a {
    text-decoration: none;
}

body {
    margin: 0;
}

ul li {
    list-style: none;
}

.header {
    background-image: url(../images/bicycle.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 0 680px;
}

ul {
    margin: 0;
    padding: 0;
}

.logo {
    width: 95px;
    height: 85px;
    margin: 0 60px;
}

.left-menu li a, .right-menu li a{
    color: #615d6c;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 20px; 
}

.left-navigation, .right-navigation {
    display: flex;   
}

.container {
    max-width: 620px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.left-menu, .right-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-menu li a:hover, .right-menu li a:hover {
    text-decoration: underline;
}

.first-section {
    padding: 117px 0 145px;
    background-color: #f7f7f7;
}

.chain {
    margin: 0 auto;
    display: block;
}

.generation-header {
    color: #353738;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.left-part, .right-part-2 {
    position: relative;
}

.left-part {
    background-image: url(../images/bicycle1-background.png);
    background-size: cover;
    background-position: center;
}

.generation-description {
    max-width: 1079px;
    color: #848789;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    line-height: 34px;
}

.bicycle-seat-new {
    background-image: url(../images/saddle-background-new.png);
    background-size: cover;
    background-position: center;
}

.right-part-2 {
    background-image: url(../images/bicycle-background-2.png);
    background-size: cover;
    background-position: center;
}

.bicycle-seat-new {
    position: relative;
}

.bicycle-seat {
    position: relative;
    background-image: url(../images/saddle-background.png);
    background-size: cover;
    background-position: center;
}

.header-work {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 600px;
}

.middle-work {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.right-part {
    display: grid;
    grid-template-rows: 400px 200px;
}

.bicycle-logo, .logo-vintage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.vintage h3, .boriosa h3 {
    text-transform: uppercase;
    color: #353738;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.vintage, .boriosa {
    padding: 70px;
}

.ram-icon, .briosa-img {
    display: block;
    margin: 0 auto;
}

.vintage-description, .boriosa-description {
    color: #848789;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    display: block;
    max-width: 420px;
    margin: 0 auto;
}

hr {
    max-width: 50px;
    margin-top: 30px;
    display: flex;
    background-color: #d7d7d7;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #ffffff;
}

.triangle {
    position: absolute;
    top: 0;
    left: calc(50% - 7px);
}

.saddle-background, .saddle-background-new {
    width: 100%;
    height: 100%;
}

.left-part-2 {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.bottom-work {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 600px;
}

.left-part-3 {
    background-image: url(../images/bicycle3-background.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.biycle-1926 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.center-part-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

.petro-bike {
    padding: 50px;
}

.bytle {
    margin: 0 auto;
    display: block;
}

.petro-bike h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 4px;
    color: #353738;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.petro-bike p {
    max-width: 434px;
    font-size: 16px;
    line-height: 30px;
    color: #848789;
    font-family: "Lato";
    font-weight: 400;
    margin: 0 auto;
}

.wheel {
    background-image: url(../images/background-wheel.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.right-part-3 {
    background-image: url(../images/background-bicycle-bottom.png);
    background-size: cover;
    background-position: center;
}

.section-twitter {
    padding: 120px 0 60px;
}

.section-twitter h2 {
    font-size: 18px;
    letter-spacing: 2px;
    color: #353738;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-align: center;
}

.section-twitter h2 span {
    font-weight: 300;    
}

.twitter-description {
    width: 1080px;
    height: 65px;
    font-size: 24px;
    line-height: 34px;
    color: #848789;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
}

.twitter-list {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.circle {
    width: 11px;
    height: 11px;
    border: 2px solid #a9afb3;
    border-radius: 50%;
}

.circle:hover {
    background-color: #a9afb3;
    cursor: pointer;
}

.twitter-item {
    padding: 0 10px;
}


